<div class="container">
  <form #addProjectForm="ngForm">
    <h4 class="BottomMargin">Add Project</h4>
    <div class="form-group">
      <label for="txtProject">Project:</label>
      <input type="text" class="form-control" [(ngModel)]="Project" id="txtProject" name="txtProject" required
        #txtProject="ngModel">
      <div [hidden]="txtProject.valid || txtProject.pristine" class="alertDanger">
        Project is required
      </div>
    </div>
    <div class="form-group">
      <input type="checkbox" id="chkDate" name="chkDate" (change)="DateCheckBoxChange()" [(ngModel)]="StartEndDateSelected">
      Set Start and End Date
      <input type="date" [disabled]="!StartEndDateSelected" id="txtSDate" name="txtSDate" style="margin-left: 1%; width: 18%;"
        [min]="StartDate" [(ngModel)]="StartDate" required class="form-control">
      <input type="date" [disabled]="!StartEndDateSelected" id="txtEDate" name="txtEDate" style="margin-left: 1%; width: 18%;"
        [min]="EndDate" [(ngModel)]="EndDate" required class="form-control">
    </div>
    <div class="form-group">
      <label for="txtPriority">Priority:</label>
      <input type="range" class="slider" id="txtPriority" name="txtPriority" [(ngModel)]="Priority" required min="0"
        max="30" step="1" #txtPriority="ngModel"> {{Priority}}
    </div>
    <div class="form-group">
      <label for="txtManager">Manager:</label>
      <input type="text" class="form-control" [(ngModel)]="ManagerName" disabled id="txtManager" name="txtManager"
        required #txtManager="ngModel">
      <button id="openModalButton" class="form-control" style="margin-left: 1%; width: 10%;" (click)="openDialog()">Search</button>
      <div [hidden]="txtManager.valid || txtManager.pristine" class="alertDanger">
        Manager is required
      </div>
    </div>
    <div style="padding-left: 42%;">
      <button type="submit" class="btn btn-default" (click)="AddUpdateProject(); addProjectForm.reset();">{{AddButtonText}}</button>
      <button class="btn btn-default" (click)="ResetData(); addProjectForm.reset();" style="margin-left: 5px;">{{ResetButtonText}}</button>
    </div>
  </form>
  <hr style="border-top: 1px solid #333;" />
  <div>
    <input type="text" class="form-control" (input)="filterItem()" [(ngModel)]="searchText" style="display: inline;"
      placeholder="Search...">
    <b style="display: inline; margin-left: 2%; width: 10%;">Sort:</b>
    <button class="form-control overFlow" (click)="sortingUser('FName')" style="display: inline;margin-left: 2%; width: 15%;">First
      Name</button>
    <button class="form-control overFlow" (click)="sortingUser('LName')" style="display: inline;margin-left: 2%; width: 15%;">Last
      Name</button>
    <button class="form-control overFlow" (click)="sortingUser('EId')" style="display: inline;margin-left: 2%; width: 15%;">Employee
      Id</button>
  </div>

  <div *ngFor="let proj of filteredList">
    <hr style="border-top: dotted 1px;" />
    <input type="text" class="form-control" style="width: 25%; display: inline; margin-left: 1%;" disabled value={{proj.Project}}>
    <input type="text" class="form-control" style="width: 25%; display: inline; margin-left: 1%;" disabled value={{proj.StartDate}}>
    <input type="text" class="form-control" style="width: 25%; display: inline; margin-left: 1%;" disabled value={{proj.EndDate}}>

    <button class="btn btn-default" (click)="EditUser(proj)" style="width: 10%; display: inline; margin-left: 1%;">Edit</button>
    <button class="btn btn-default" (click)="DeleteUser(proj)" style="width: 10%; display: inline; margin-left: 1%;">Delete</button>
  </div>

  <div *ngIf="projListCount==0">
    <hr style="border-top: dotted 1px;" />
    <b>There are no projects</b>
  </div>
</div>
